* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flag {
  width: 30px;
  height: 30px;
}

#app {
  width: 100%;
  height: 100vh;
  /* debug */
  background-color: black;
}

header {
  width: 100%;
  height: 80px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* debug */
  background-color: brown;
}

#logo {
  font-size: 30px;
}

input {
  height: 30px;
}

.result-section {
  width: 100%;
  /* min-height: 100vh; */
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  background-color: black;
  /* justify-content: space-around; */
}

.results {
  color: wheat;
  /* background-color: wheat; */
  text-align: center;
  border: 1px solid white;
  margin: 10px;
  display: flex;
  position: relative;
}

.poster {
  height: 100%;
}

.star {
  color: yellow;
}

.info {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: left;
}

.span {
  color: wheat;
}

.none {
  display: none;
}

.no-poster {
  width: 185px;
  height: 100%;
}

.img-poster {
  width: 100%;
  align-self: center;
}

.hover {
  display: block;
  background-color: rgba(0, 0, 0, 0.808);
}
