* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: black;
}

.flag {
  width: 30px;
  height: 30px;
}

#app {
  width: 100%;
  height: 100vh;
  /* debug */
  background-color: black;
}

header {
  width: 100%;
  height: 80px;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* debug */
  background-color: brown;
}

#logo {
  font-size: 30px;
}

input {
  height: 30px;
  padding-left: 15px;
}

.result-section {
  width: 80%;

  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  background-color: black;
}

.result-section h2 {
  width: 100%;
  color: white;
  font-size: 30px;
  margin-left: 10px;
}

.results {
  /* background-color: wheat; */
  text-align: center;
  border: 1px solid white;
  margin: 20px;
  display: flex;
  position: relative;
}

.star {
  color: rgb(255, 217, 0);
}

.info {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
}

.info .titolo {
  padding: 10px;
  line-height: 20px;
}

.info .span {
  color: white;
}

.voto {
  width: 100%;
  padding: 5px 0;
}
.none {
  display: none;
}

.no-poster {
  width: 185px;
  /* height: 100%; */
}

.img-poster {
  width: 100%;
  align-self: center;
}

.hover {
  display: block;
  background-color: rgba(0, 0, 0, 0.808);
}

.overview {
  text-align: center;
  max-height: 80px;
  display: inline-block;
  width: 150px;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}

.attori {
  color: white;
}
