<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Cdn Axios -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js"
      integrity="sha512-bYkaBWaFtfPIMYt9+CX/4DWgfrjcHinjerNYxQmQx1VM76eUsPPKZa5zWV8KksVkBF/DaHSADCwil2J5Uq2ctA=="
      crossorigin="anonymous"
    ></script>
    <!-- Cdn VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <!-- Google Font Lato -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Boolflix</title>
  </head>
  <body>
    <!-- Contenitore app vue -->
    <div id="app">
      <div class="menu-mobile">
        <nav class="nav-mobile">
          <div id="nav-home" class="nav-item" @click="selezHome">
            <h4>Home</h4>
          </div>
          <div id="nav-movies" class="nav-item" @click="selezMovies">
            <h4>Movies</h4>
          </div>
          <div id="nav-shows" class="nav-item" @click="selezShows">
            <h4>Shows</h4>
          </div>
        </nav>
      </div>
      <!-- Header con logo e ricerca -->
      <header>
        <div id="logo" @click="reload">
          <h3>BOOLFLIX</h3>
        </div>
        <!-- Navigation section -->
        <nav id="nav">
          <div id="nav-home" class="nav-item" @click="selezHome">
            <h4>Home</h4>
          </div>
          <div id="nav-movies" class="nav-item" @click="selezMovies">
            <h4>Movies</h4>
          </div>
          <div id="nav-shows" class="nav-item" @click="selezShows">
            <h4>Shows</h4>
          </div>
        </nav>
        <div id="search">
          <input
            type="text"
            placeholder="Search Movies or TV"
            v-model="searchInput"
            @keypress.enter="searchFilm()"
          />
        </div>
      </header>

      <!-- Home -->
      <!-- Trending week visibile on home-page disappearing on search -->
      <main class="result-section" id="trending-all" v-if="homeIsVisible">
        <h2>Trending</h2>
        <!-- risultati -->
        <div
          class="results"
          v-for="(movie, indice) in trendingAll"
          @mouseover="provaHover(movie, indice)"
          @mouseleave="esciHover(movie, indice)"
          @mouseenter="filterMovies(movie.id)"
        >
          <img
            class="poster"
            :src="posterPath + movie.poster_path"
            alt="poster"
            v-show="movie.poster_path !== null"
          />
          <img
            class="no-poster"
            v-show="movie.poster_path === null"
            :src="noPoster"
            alt="no poster"
          />

          <div class="info" :class="indexMovies === indice ? 'hover' : 'none' ">
            <div class="titolo">
              <h4>Titolo: <span class="span">{{movie.title}}</span></h4>
              <h5 v-if="movie.title !== movie.original_title ">
                Titolo originale:
                <span class="span">{{movie.original_title}}</span>
              </h5>
            </div>
            <img class="flag" :src="whatFlag(movie)" alt="flag" />
            <div class="voto">
              <span>Voto:</span>
              <i
                v-for="(items, index) in 5"
                :class="(Math.ceil(movie.vote_average / 2) > index) ? 'star' : ''"
                class="fas fa-star"
              ></i>
            </div>
            <div class="attori-c">
              Attori:
              <p
                v-if="actors !== undefined"
                class="attori"
                v-for="actors in actorsMovies"
              >
                {{actors.name}}
              </p>
            </div>
            <div class="genere-c">
              Genere:
              <span class="genere" v-for="genre in moviesGenres">
                {{ genre.name }}
              </span>
            </div>
            <div class="overview-c">
              Overview: <span class="overview"> {{ movie.overview }} </span>
            </div>
          </div>
        </div>
      </main>

      <!-- Popular Movies disappearing on search -->
      <main class="result-section" id="popular-movies" v-if="popMoviesVisible">
        <h2>Popular Movies</h2>
        <!-- genres filter  popular movies -->
        <ul class="generi">
          <li
            v-for="generi in totalGenresMovies"
            @click="filtroFilmGenere(generi.id)"
          >
            {{ generi.name }}
          </li>
        </ul>
        <div
          class="results"
          v-for="(movie, indice) in popularMovies"
          @mouseover="provaHover(movie, indice)"
          @mouseleave="esciHover(movie, indice)"
          @mouseenter="filterMovies(movie.id)"
        >
          <img
            class="poster"
            :src="posterPath + movie.poster_path"
            alt="poster"
            v-show="movie.poster_path !== null"
          />
          <img
            class="no-poster"
            v-show="movie.poster_path === null"
            :src="noPoster"
            alt="no poster"
          />

          <div class="info" :class="indexMovies === indice ? 'hover' : 'none' ">
            <div class="titolo">
              <h4>Titolo: <span class="span">{{movie.title}}</span></h4>
              <h5 v-if="movie.title !== movie.original_title ">
                Titolo originale:
                <span class="span">{{movie.original_title}}</span>
              </h5>
            </div>
            <img class="flag" :src="whatFlag(movie)" alt="flag" />
            <div class="voto">
              <span>Voto:</span>
              <i
                v-for="(items, index) in 5"
                :class="(Math.ceil(movie.vote_average / 2) > index) ? 'star' : ''"
                class="fas fa-star"
              ></i>
            </div>
            <div class="attori-c">
              Attori:
              <p
                v-if="actors !== undefined"
                class="attori"
                v-for="actors in actorsMovies"
              >
                {{actors.name}}
              </p>
            </div>
            <div class="genere-c">
              Genere:
              <span class="genere" v-for="genre in moviesGenres">
                {{ genre.name }}
              </span>
            </div>
            <div class="overview-c">
              Overview: <span class="overview"> {{ movie.overview }} </span>
            </div>
          </div>
        </div>
      </main>

      <!-- sezione risultati film ricercati -->
      <main class="result-section" v-if="showFilmSection">
        <h2>Movies</h2>
        <div
          class="results"
          v-for="(movie, indice) in moviesArray"
          @mouseover="provaHover(movie, indice)"
          @mouseleave="esciHover(movie, indice)"
          @mouseenter="filterMovies(movie.id)"
        >
          <img
            class="poster"
            :src="posterPath + movie.poster_path"
            alt="poster"
            v-show="movie.poster_path !== null"
          />
          <img
            class="no-poster"
            v-show="movie.poster_path === null"
            :src="noPoster"
            alt="no poster"
          />

          <div class="info" :class="indexMovies === indice ? 'hover' : 'none' ">
            <div class="titolo">
              <h4>Titolo: <span class="span">{{movie.title}}</span></h4>
              <h5 v-if="movie.title !== movie.original_title ">
                Titolo originale:
                <span class="span">{{movie.original_title}}</span>
              </h5>
            </div>
            <img class="flag" :src="whatFlag(movie)" alt="flag" />
            <div class="voto">
              <span>Voto:</span>
              <i
                v-for="(items, index) in 5"
                :class="(Math.ceil(movie.vote_average / 2) > index) ? 'star' : ''"
                class="fas fa-star"
              ></i>
            </div>
            <div class="attori-c">
              Attori:
              <p
                v-if="actors !== undefined"
                class="attori"
                v-for="actors in actorsMovies"
              >
                {{ actors.name }}
              </p>
            </div>
            <div class="genere-c">
              Genere:
              <span class="genere" v-for="genre in moviesGenres">
                {{genre.name}}
              </span>
            </div>

            <div class="overview-c">
              Overview: <span class="overview"> {{ movie.overview }} </span>
            </div>
          </div>
        </div>
      </main>

      <main v-if="nessunRisultato" class="no-results">
        <img :src="noResults" alt="no results" />
      </main>

      <!-- Popular shows visibile on home-page disappearing on search -->
      <main class="result-section" id="popular-shows" v-if="popShowsVisible">
        <h2>Popular Shows</h2>
        <!-- genres filter  popular shows -->
        <ul class="generi">
          <li
            v-for="generi in totalGenresShows"
            @click="filtroSerieGenere(generi.id)"
          >
            {{ generi.name }}
          </li>
        </ul>
        <div
          class="results"
          v-for="(show, indice) in popularShows"
          @mouseover="hoverShow(show, indice)"
          @mouseleave="leaveShow(show, indice)"
          @mouseenter="filterTv(show.id)"
        >
          <img
            :src="posterPath + show.poster_path"
            alt="poster"
            v-show="show.poster_path !== null"
          />
          <img
            class="no-poster"
            v-show="show.poster_path === null"
            :src="noPoster"
            alt="no poster"
          />
          <div class="info" :class="indexShows === indice ? 'hover' : 'none' ">
            <div class="titolo">
              <h4>Titolo: <span class="span"> {{show.name}} </span></h4>
              <h5 v-if="show.name !== show.original_name ">
                Titolo originale:
                <span class="span"> {{show.original_name}} </span>
              </h5>
            </div>
            <img class="flag" :src="whatFlag(show)" alt="flag" />
            <div class="voto">
              <span>Voto: </span>
              <i
                v-for="(items, index) in 5"
                :class="(Math.ceil(show.vote_average / 2) > index) ? 'star' : ''"
                class="fas fa-star"
              ></i>
            </div>
            <div class="attori-c">
              Attori:
              <p
                v-if="actors !== undefined"
                class="attori"
                v-for="actors in actorsShows"
              >
                {{ actors.name }}
              </p>
            </div>
            <div class="genere-c">
              Genere:
              <span class="genere" v-for="genre in showsGenres">
                {{ genre.name }}
              </span>
            </div>
            <div class="overview-c">
              Overview: <span class="overview"> {{ show.overview }} </span>
            </div>
          </div>
        </div>
      </main>

      <!-- sezione risultati serie tv -->
      <main class="result-section" v-if="showShowsSection">
        <h2>Shows</h2>
        <div
          class="results"
          v-for="(show, indice) in showsArray"
          @mouseover="hoverShow(show, indice)"
          @mouseleave="leaveShow(show, indice)"
          @mouseenter="filterTv(show.id)"
        >
          <img
            :src="posterPath + show.poster_path"
            alt="poster"
            v-show="show.poster_path !== null"
          />
          <img
            class="no-poster"
            v-show="show.poster_path === null"
            :src="noPoster"
            alt="no poster"
          />
          <div class="info" :class="indexShows === indice ? 'hover' : 'none' ">
            <div class="titolo">
              <h4>Titolo: <span class="span">{{show.name}}</span></h4>
              <h5 v-if="show.name !== show.original_name ">
                Titolo originale:
                <span class="span">{{show.original_name}}</span>
              </h5>
            </div>
            <img class="flag" :src="whatFlag(show)" alt="flag" />
            <div class="voto">
              <span>Voto: </span>
              <i
                v-for="(items, index) in 5"
                :class="(Math.ceil(show.vote_average / 2) > index) ? 'star' : ''"
                class="fas fa-star"
              ></i>
            </div>
            <div class="attori-c">
              Attori:
              <p
                v-if="actors !== undefined"
                class="attori"
                v-for="actors in actorsShows"
              >
                {{ actors.name }}
              </p>
            </div>
            <div class="genere-c">
              Genere:
              <span class="genere" v-for="genre in showsGenres">
                {{ genre.name }}
              </span>
            </div>
            <div class="overview-c">
              Overview: <span class="overview"> {{ show.overview }} </span>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="js/script.js"></script>
  </body>
</html>
