<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Cdn Axios -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js"
      integrity="sha512-bYkaBWaFtfPIMYt9+CX/4DWgfrjcHinjerNYxQmQx1VM76eUsPPKZa5zWV8KksVkBF/DaHSADCwil2J5Uq2ctA=="
      crossorigin="anonymous"
    ></script>
    <!-- Cdn VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Boolflix</title>
  </head>
  <body>
    <!-- Contenitore app vue -->
    <div id="app">
      <!-- Header con logo e ricerca -->
      <header>
        <div id="logo">
          <h3>BOOLFLIX</h3>
        </div>
        <div id="search">
          <input
            type="text"
            placeholder="Search Movies or TV"
            v-model="searchInput"
            @keypress.enter="searchFilm"
          />
        </div>
      </header>

      <!-- sezione risultati film -->
      <main id="result-section">
        <div class="results" v-for="movie in moviesArray">
          <img :src="posterPath + movie.poster_path" alt="poster" />
          <h4>{{movie.title}}</h4>
          <h4>{{movie.original_title}}</h4>
          <h4>{{movie.original_language}}</h4>
          <h4>{{Math.ceil(movie.vote_average / 2)}}</h4>
          <i
            :class="(Math.ceil(movie.vote_average / 2) >=1) ? 'star' : ''"
            class="fas fa-star"
          ></i>
          <i
            class="fas fa-star"
            :class="(Math.ceil(movie.vote_average / 2) >= 2) ? 'star' : ''"
          ></i>
          <i
            class="fas fa-star"
            :class="(Math.ceil(movie.vote_average / 2) >= 3) ? 'star' : ''"
          ></i>
          <i
            class="fas fa-star"
            :class="(Math.ceil(movie.vote_average / 2) >= 4) ? 'star' : ''"
          ></i>
          <i
            class="fas fa-star"
            :class="(Math.ceil(movie.vote_average / 2) >= 5) ? 'star' : ''"
          ></i>
          <img class="flag" :src="whatFlag(movie)" alt="flag" />
        </div>
      </main>

      <!-- sezione risultati serie tv -->
      <main id="result-section">
        <div class="results" v-for="show in showsArray">
          <img :src="posterPath + show.poster_path" alt="poster" />
          <h4>{{show.name}}</h4>
          <h4>{{show.original_name}}</h4>
          <h4>{{show.original_language}}</h4>
          <h4>{{Math.ceil(show.vote_average / 2)}}</h4>
          <i
            :class="(Math.ceil(show.vote_average / 2) >=1) ? 'star' : ''"
            class="fas fa-star"
          ></i>
          <i
            class="fas fa-star"
            :class="(Math.ceil(show.vote_average / 2) >= 2) ? 'star' : ''"
          ></i>
          <i
            class="fas fa-star"
            :class="(Math.ceil(show.vote_average / 2) >= 3) ? 'star' : ''"
          ></i>
          <i
            class="fas fa-star"
            :class="(Math.ceil(show.vote_average / 2) >= 4) ? 'star' : ''"
          ></i>
          <i
            class="fas fa-star"
            :class="(Math.ceil(show.vote_average / 2) >= 5) ? 'star' : ''"
          ></i>
          <img class="flag" :src="whatFlag(show)" alt="flag" />
        </div>
      </main>
    </div>
    <script src="js/script.js"></script>
  </body>
</html>
